<ol>
  <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
  Username: <input type="text" [(ngModel)] = "username">
  <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
  <p>Well then, welcome {{username}}!</p>
  <li>Add a button which may only be clicked if the username is NOT an empty string</li>
  <button class="btn btn-primary" [disabled]="username === ''" (click)="username = ''">Click if field isn't empty</button>
  <li>Upon clicking the button, the username should be reset to an empty string</li>
</ol>
